*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
.App {
  text-align: center;
}
.App-header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}
.App-feed{
  width: 30%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color:white;
}
.App-feed-title{
  color: #000;
}
.App-feed-firstNews{
  width: 90%;
}
.App-imgNoticia{
  width: 40%;
  height: 20%;
}
.App-feed-firstNews{
  display: flex;
  align-items: center; 
  flex-direction: column;
  overflow-y: scroll;
}
.App-feed-firstNews--content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.App_register{
  width: 12%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border: 1px solid #fff;
}
.App_nameList{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.btn{
  width: 70%;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.btn_modal{
  width: 40%;
  background-color: #fff;
  border: #282c34 solid 1px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.btn:hover{
  background-color: #dddfe4;
}
.btn_modal:hover{
  background-color: #dddfe4;
}